# Environment variables declared in this file are automatically made av↴ailable to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema
# accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, M ySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
# current project is using PostgreSQL
DATABASE_URL=

# AUTH JS
# generate a secret by `openssl rand -base64 32`
AUTH_SECRET=

# see the documentation for env variables https://authjs.dev/reference/nextjs#environment-variable-inferrence
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
